/* estilos universales */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* TODO el contenido centrado */
body {
    text-align: center;
}

/* barra de navegacion */
.menu {
    display: block;
    background-color: black;
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    margin-bottom: 10px;
}

.lista-menu {
    list-style: none;
}

/* lista del menu */
.lista-menu li {
    display: inline;
    margin: 15px;
}

.lista-menu a {
    color: white;
    text-decoration: none;
}

/* quitar la lista a la lista XD */
.lista-primera{
  list-style: none;
}

/* Evita que la barra del menu tape la primera seccion */
.contenedor {
    margin-top: 80px;
}

/* Separacion entre cada seccion */
.seccion {
    padding: 10px;
}

/* id de boton para cambiar todos los botones de la pagina */
#boton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* en el apartado de mi forma de trabajar  */
.grid {
    display: flex; /* los hace en linea y no para abajo XD */
    justify-content: center;
}

/* los cuadros de la misma seccion */
.cuadro {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 180px;
}

/* apartado de planes */
.contenedor-planes {
    display: flex;
    justify-content: center;
    gap: 20px; /* separacion del contenido */
    flex-wrap: wrap;
}

/* cuadros de la misma seccion */
.plan {
    border: 2px solid black;
    padding: 20px;
    width: 220px;
}